process {
  executor="slurm"
  clusterOptions="--account=cancercenter-dept --qos=cancercenter-dept-b"
}

process {
	errorStrategy = { 
	task.attempt <= 3 ? "retry" : "finish" 
	}
}

process {
    withName: "BEDTOOLS_GENOMECOV" {
      memory = 120.GB
      time = 8.h
    }
}
params.igenomes_base = '/orange/cancercenter-dept/GENOMES/iGenomes'
